# Logs
logs
*.log
npm-debug.log*

# Dependencies
node_modules/

# Coverage
coverage

# Transpiled files
build/
dist/

# VS Code
.vscode
!.vscode/tasks.js

# Env
.env
.env.dev
.env.prod

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Misc
.DS_Store

# FirebaseConfig
src/firebase/firebaseConfig.ts
src/firebase/firebaseConfig.js
